$brandPrimary100: #0C0614;
$brandPrimary500: #322C3A;
$brandPrimary700: #453B52;

$accentTeal: #1B9AAA;
$accentPink: #EF476F;
$accentPurple: #9747FF;
$accentGreen100: #41B770;
$accentGreen500: #19756A;

$white100: #FFFFFF;
$white300: #E7E7E7;
$white600: #A9A9A9;